<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Info Post', posts_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'HOME', posts_path, class: "nav-item nav-link active" %>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">About Us</a>
      <%= link_to 'New Post', new_post_path, class: "nav-item nav-link active" %>
    </div>
  </div>
</nav>
<div id="flash">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, id: "flash-#{key}", class: "alert alert-success" if flash[:notice] %>
    <%= content_tag :div, value, id: "flash-#{key}", class: "alert alert-danger" if flash[:alert] %>
  <% end %>
</div>